# Исключение папки node_modules
node_modules/

# Исключение папки сборки
dist/

# Локальные файлы окружения
.env

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Системные файлы
Thumbs.db
desktop.ini

# Файлы редактора VS Code
.vscode/