$primary-color: #1d98eb;
$secondary-color: #3ec576;
$font-size: 16px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

/*
@media (max-width: var.$breakpoint-desktop) {
        
}
@media (max-width: var.$breakpoint-tablet) {
    
}
@media (max-width: var.$breakpoint-mobile) {
    
}
 */