@use '../styles/mixins.scss' as mix;
@use '../styles/variables.scss' as var;

.form {
    width: 700px;

    @media (max-width: var.$breakpoint-desktop) {
        width: 600px
    }
    @media (max-width: var.$breakpoint-tablet) {
        width: 500px
    }
    @media (max-width: var.$breakpoint-mobile) {
        width: 90%;
        font-size: 10px;
    }

    &__header {
        margin: 0 0 10px 0;
    }

    &__group {
        @include mix.flex-center(row, space-between);
        margin: 10px;

    }
    &__input {
        @media (max-width: var.$breakpoint-mobile) {
            width: 35%;
        }
        
    }
    &__button {
        @media (max-width: var.$breakpoint-mobile) {
            font-size: 12px;
            padding: 5px 10px;
        }
    }

    .react-tel-input {
        width: auto;
        
        @media (max-width: var.$breakpoint-mobile) {
            width: 35%;
        }
    }
    .form-control {
        width: 100%;
        padding-left: 7px;
    }
    .error-message {
        color: red;
    }
    .flag-dropdown {
        display: none; 
    }

}



